<form action="/action_page.php">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
    <h1>Đăng nhập tài khoản khách hàng tại đây</h1>
    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Nhập Email của bạn" name="email" id="email" required>
    <br>
    <label for="psw"><b>Mật khẩu</b></label><br>
    <input type="password" placeholder="Nhập mật khẩu" name="psw" id="psw" required>
    <br>
    <button type="submit" class="registerbtn">Đăng nhập</button>
  </div>
  <div class="col-sm-6" >
    <img src="https://file.hstatic.net/200000165465/file/honest-misoa-02_089b9001e84c4f1f8b77a4752597336f.jpg" />
  </div>
</div>
  </div>
  <div class="container signin">
    <p>Đã chưa tài khoản? <a routerLink="/register">Đăng ký</a>.</p>
  </div>
</form>
