
<head>
  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->

  <!-- Fonts END -->

  <!-- Global styles START -->
  <link href="/src/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/src/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Page level plugin styles START -->
  <link href="/src/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="/src/assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">

  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->

  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/src/assets/pages/css/components.css" rel="stylesheet">
  <link href="/src/assets/corporate/css/style.css" rel="stylesheet">
  <link href="/src/assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="/src/assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="/src/assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/src/assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<div class="ecommerce">

            <div class="container quynhanh">
              <div class="search-container">
                <form>
                  <input type="text" name="search" placeholder="Search..">
                </form>
              </div>
              <div class=" container carousel">
                <div class="row">
              <ngb-carousel >
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="https://file.hstatic.net/200000165465/collection/untitled-3-01_3be68f782fd44c34bdc0fae1488c7bde_ae03c052dcba43f2a5d52734bd16e5e4.png" alt="Random first slide">
                  </div>
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="https://file.hstatic.net/200000165465/file/ll_ty_web_1400x600__50bb44a30b79462291fb07c71bc5853e.jpg" alt="Random second slide">
                  </div>
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="https://file.hstatic.net/200000165465/file/08ea_35ceecb0f58b40f7af866a426300cf1b_9bcecca64c1641c68ab71f9d2ef20142_fc0046bf40ab4ace9418b0ff5f261ce2.png" alt="Random third slide">
                  </div>
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>

            </div>
            </div>
                <hr>
            </div>
            <div class="container">
              <div class="row shyn">
                <h1 style="font-size:30px">LOULOU X CHOUCHOU</h1>
                <p><b>LOULOU x CHOUCHOU</b>ra mắt thế hệ son kem dạng bấm cho môi & má, với 4 màu phù hợp mọi cảm xúc</p>
              </div>
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="https://product.hstatic.net/200000165465/product/honest2_1200x1600_50557503efb14043930ccda2a135afd1_master_02269276ef074b04a3800ff9a12ac848_master.jpg" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="https://product.hstatic.net/200000165465/product/lc_58a06ac99ebb457880893acf759abc55_master_0581a1da6fc1415cb25b8b41085c6b1a_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">FEARLESS | 용감한</a></h3>
                  <div class="pi-price">320.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/honest_1_12c0984bbe7f40088b1cc43a35c9a8b3_master.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/honest2_1200x1600_50557503efb14043930ccda2a135afd1_master_02269276ef074b04a3800ff9a12ac848_master.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/lc_58a06ac99ebb457880893acf759abc55_master_0581a1da6fc1415cb25b8b41085c6b1a_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">HONEST | 솔직한</a></h3>
                  <div class="pi-price">320.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/joyful_1_cc80ea6ec8b44983abe1358ec37c3a49_master.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="https://product.hstatic.net/200000165465/product/honest2_1200x1600_50557503efb14043930ccda2a135afd1_master_02269276ef074b04a3800ff9a12ac848_master.jpg" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="https://product.hstatic.net/200000165465/product/lc_58a06ac99ebb457880893acf759abc55_master_0581a1da6fc1415cb25b8b41085c6b1a_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">JOYFUL | 조이
                  </a></h3>
                  <div class="pi-price">320.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>

            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/cheeky_1_bf81e0c346d446079e53b15f17dd35db_master.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/honest2_1200x1600_50557503efb14043930ccda2a135afd1_master_02269276ef074b04a3800ff9a12ac848_master.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/lc_58a06ac99ebb457880893acf759abc55_master_0581a1da6fc1415cb25b8b41085c6b1a_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">CHEEKY | 치키</a></h3>
                  <div class="pi-price">320.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/cheeky_1080x1350_feedd9c9cfa84ffaacaa7b5486badfbc_master_0a6c4f5b094a421e85f5090e4302f24e_master.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/118488137_166389421634473_1228568906094878626_n_d6c90a0d33f045d29407d1c22c774bc7_master.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/sw_ac50499aa3eb401e9e8b27c5f20e73f8_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">JOYFUL | 조이</a></h3>
                  <div class="pi-price">320.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->

              <!-- PRODUCT ITEM END -->
            </div>
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
          </div>





            <div class="container">
              <div class="row shyn">
                <h1 style="font-size:30px">LOULOU X CHOUCHOU</h1>
                <p><b>LOULOU x CHOUCHOU</b>ra mắt thế hệ son kem dạng bấm cho môi & má, với 4 màu phù hợp mọi cảm xúc</p>
              </div>
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/cherry_8bfb1910c4244c8d87399fa0ca5207e9_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">CHERRY | 체리</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/truffle_c3c79ce701ad45258dca84a4bd60de34_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">TRUFFLE | 트러플</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/fr.rose_a5d8c0e6f8f24b76a1b760fd8e7f06e9_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="https://product.hstatic.net/200000165465/product/moi-04_9e63a601d38648e9a3cc4bda467cdf0e_master_34b0e5a6dad64d57ae487ca74ac9d040_master.png" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">FRENCH ROSÉ | 프렌치 로즈</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>

            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/pumpkin_c34ad695fc124011826fe0b3e18a2b81_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="assets/pages/img/products/model7.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">PUMPKIN PIE | 펌킨 파이</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/straw_3f8739a8885b47c590fe86b8a6d4a457_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">STRAWBERRY JAM | 딸기잼</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="https://product.hstatic.net/200000165465/product/peach_a4c65c860e9f430b8445d5c61569e23c_large.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="assets/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a routerLink="/cart">PEACH | 복숭아</a></h3>
                  <div class="pi-price">249.000đ</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Mua ngay</a>
                  <div class="sticker sticker-sale"></div>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->
            </div>
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
          </div>
            <!-- END PAGINATOR -->


    <!-- BEGIN BRANDS -->
    <div class="brands">
      <div class="container">
        <div class="row">
            <div  class="owl-carousel owl-carousel6-brands">
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/canon.jpg" alt="canon" title="canon"></a>
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/next.jpg" alt="next" title="next"></a>
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
              <a href="shop-product-list.html"><img src="assets/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
              <a href="shop-product-list.html"><img style="width: 150px; height:50px" src="https://aeonmall-long-bien-en.com/wp-content/uploads/2018/12/pnj-750x468.jpg" alt="zara" title="zara"></a>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- END BRANDS -->

    <!-- BEGIN STEPS -->

    <!-- END STEPS -->


    <!-- END PRE-FOOTER -->


    <!-- END FOOTER -->

    <!-- BEGIN fast view of a product -->

    <!-- END fast view of a product -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='assets/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->
    <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="assets/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script><!-- for slider-range -->

    <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->

