<div class="contact">
  <div class="contact-image">
    <img src="https://file.hstatic.net/200000165465/file/about_page_01_desktop_new_5f79890f917e44749bfdf0a1752b8496.jpg" />
  </div>
  <div class="container">



    <div class="row">
        <h1>ABOUT US</h1>
        <p>Loulou là thương hiệu mỹ phẩm được thiết kế để giúp cho việc trang điểm trở nên dễ dàng và tiện lợi cho phụ nữ ngày nay.</p>
        <p>Loulou là thương hiệu dành cho những ai đam mê các sản phẩm làm đẹp chất lượng cao, với giá thành hợp lý. Với việc dễ dàng sử dụng, Loulou giúp bạn có thể trang điểm mọi lúc mọi nơi.</p>
        <p>Chất lượng sản phẩm là cốt lõi mà Loulou theo đuổi. Các sản phẩm của Loulou được thiết kế, lên công thức & sản xuất tại Hàn Quốc, bởi viện nghiên cứu đã hợp tác với nhiều hãng mỹ phẩm cao cấp, nổi tiếng thế giới.</p>
        <p>Loulou tin rằng, thuận tiện cho việc trang điểm sẽ giúp phụ nữ thể hiện sự sáng tạo của bản thân mỗi ngày, để mỗi ngày chúng ta có thể sống hết mình, thật vui, thật đam mê và tự do biểu đạt những gì phụ nữ chúng mình mong muốn!</p>
        <p>Cùng tham gia gia đình #GenerationLoulou nhé!</p>
        <img src="https://file.hstatic.net/200000165465/file/498fb55da7f85ba602e9_a139e6cb39014b9bb5f2b8f9806c910a.jpg">
    </div>
  </div>
</div>
