<div class="container">
  <div class="row">
    <hr>
    <h1 class="header">LOOKBOOK</h1>
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/pumpkinpie01_0e18f9b21dfb48e3b4c7e3e79aa45c80.jpg" />
      <h1>#GLOWWITHME</h1>
      <p>IT Girl cá tính và khác biệt của thời trang Việt</p>
    </div>
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/llc_12961_894c9c2eba074d17b0ea79addf508c35.jpg" />
      <h1>#GIRLSCODE-CHEEKY LOOK</h1>
      <p>Kiêu kỳ, đỏng đảnh nhưng rất đỗi đáng yêu</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/joyful-quynhanh-01_191b0c8f7a714f80887da891f0d63a5e.jpg" />
      <h1>#GIRLSCODE-JOYFUL LOOK</h1>
      <p>Rạng rỡ, tích cực và tươi sáng</p>
    </div>
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/honest-misoa-02_089b9001e84c4f1f8b77a4752597336f.jpg" />
      <h1>#GIRLSCODE-HONEST LOOK</h1>
      <p>Chân thật và sống hết với những gì mình có</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/llc_11074_8c4a7ae40dc24513bf1e2b1d08e7ec49.jpg" />
      <h1>#GIRLSCODE-FEARLESS LOOK</h1>
      <p>Mạnh mẽ, quyền lực và có phần bí ẩn</p>
    </div>
    <div class="col-sm-6">
      <img src="https://file.hstatic.net/200000165465/file/blessed1_c64eac610949468f91b3b3ca673e5c29.jpg" />
      <h1>LIP & CHEEK</h1>
      <p>Một góc nhìn hoàn toàn mới với những thỏi son quen thuộc</p>
    </div>
  </div>
</div>

