<form action="/action_page.php">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
    <h1>Đăng ký tài khoản khách hàng tại đây</h1>
    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Nhập Email của bạn" name="email" id="email" required>
    <br>
    <label for="psw"><b>Mật khẩu</b></label><br>
    <input type="password" placeholder="Nhập mật khẩu" name="psw" id="psw" required>
    <br>
    <label for="psw-repeat"><b>Nhập lại mật khẩu</b></label><br>
    <input type="password" placeholder="Nhập lại mật khẩu" name="psw-repeat" id="psw-repeat" required>
    <br>
    <button type="submit" class="registerbtn">Đăng ký</button>
  </div>
  <div class="col-sm-6" >
    <img src="https://file.hstatic.net/200000165465/file/blessed1_c64eac610949468f91b3b3ca673e5c29.jpg" />
  </div>
</div>
  </div>
  <div class="container signin">
    <p>Đã có tài khoản? <a routerLink="/signin">Đăng nhập</a>.</p>
  </div>
</form>
